---
layout: default
---
<main class="measure-wide center ph3 pt5 pb6">
  <h2 class="mt0 mb5">
  <a
    href="{{ "/" | relative_url }}"
    class="no-underline bg-{{ site.brand_color }}">
    {{site.title}}
  </a>
  </h2>
  <section class="pv2">
    <h1 class="mt0 mb1">{{page.title}}</h1>
    {% if page.date %}

    {% endif %}

    {{content}}
    {% if page.date %}
  
    {% endif %}
  </section>
  <hr />
  <section class="pv2">
    {% assign home = site.pages | where:"url","/" %}
    {{ home[0].content | markdownify }}

  </section>
  {% if site.posts.size > 0 %}
    <hr />
    <section class="pv2">
      <ul class="list pl0">
        {% for post in site.posts limit:site.num_posts_visible_initially %}
          <li class="mt0 mb4">
            <span class="silver db mb1">{{ post.date | date: site.date_format }}</span>
            <h3 class="ma0">
              <a class=" no-underline" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
          </li>
        {% endfor %}
        <li class="pt4 mt0 mb4">
          <h2 class="ma0">
            <a
            href="{{ "/" | relative_url }}"
            class="no-underline bg-{{ site.brand_color }}">
              {{site.title}}
            </a>
          </h2>
        </li>
      </ul>
    </section>
  {% endif %}
</main>